.layout{
    min-height: 90vh;
    min-width: 70vw;
    display: grid;
    /* grid-template-rows: 35% 60% 10%; */
    grid-template-rows: 15rem auto 5rem;
    justify-content: center;
}


.header{
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid 1px #d2d2d2;
}

.search_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search_body .user_note{
    color: #979797;
    font-size: larger;
    font-weight: 700;
}

.result_body{
    width: 75vw;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

/* .footer{

} */